<!DOCTYPE html>

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="./style_main.css">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css">
  <link rel="shortcut icon" href="../src/icon.png">
  <title> News </title>
</head>

<body>
  <ul title="Stock News Everyday">
    {% for date, link in bundles.items() %}
      {% if loop.index == 1 %}
        <li><a class="todaya" href="{{ link }}">{{date}}</a> <img src="today.jpg"></li>
      {% else %}
        <li><a href="{{ link }}">{{date}}</a></li>
      {% endif %}
    {% endfor %}
  </ul>
</body>

</html>